<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <h4>
                    Etapa finala
                </h4>
                <hr />
                <p class="mb-1">
                    Selectează ultima etapă de procesare a comenzilor.
                </p>
                <div class="row">
                    <div class="col-md-3">
                        <select name="" id="" class="form-control">
                            <option @if="rolesSet" v-for="role in roles" :key="role.id" value="">
                                {{role.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "order-settings-component",
        data() {
            return {
                roles: null,
                rolesSet: false
            };
        },
        methods: {
            getRoles: function () {
                let th = this;
                axios.get(route('admin-settings.getRoles')).then(function (response) {
                    th.roles = response.data;
                    console.log(th.roles);
                    th.rolesSet = true;
                }).catch(function (err) {
                    console.log(err);
                });
            }
        },
        mounted() {
            this.getRoles();
        }
    };

</script>
