<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        Comandă nouă
                    </div>
                    <div class="card-body">
                        <form @submit="submitForm">
                            <div class="row justify-content-center">
                                <div class="col-md-10">
                                    <input
                                        v-model="clientName"
                                        type="text"
                                        v-bind:placeholder="'Nume/Prenume'"
                                        class="form-control"
                                        required
                                    />
                                </div>
                            </div>
                            <div class="row my-2 justify-content-center">
                                <div class="col-md-5">
                                    <input
                                        v-model="clientPhone"
                                        type="number"
                                        v-bind:placeholder="'Telefon'"
                                        class="form-control"
                                        required
                                    />
                                </div>
                                <div class="col-md-5">
                                    <Datepicker
                                        class="date-picker"
                                        v-model="deliveryDate"
                                        :value="deliveryDate"
                                        :disabledDates="disabledDates"
                                    >
                                    </Datepicker>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-10"></div>
                            </div>
                            <div class="row my-2 justify-content-center">
                                <div class="col-md-10">
                                    <div
                                        v-for="deliveryType in deliveryTypes"
                                        :key="deliveryType.id"
                                        class="custom-control custom-radio custom-control-inline"
                                    >
                                        <input
                                            type="radio"
                                            v-bind:id="
                                                `delivery-check-${deliveryType.id}`
                                            "
                                            name="delivery-check"
                                            class="custom-control-input"
                                            v-bind:checked="true"
                                            v-bind:value="{
                                                id: deliveryType.id,
                                                need_address:
                                                    deliveryType.need_address
                                            }"
                                            v-model="delivery"
                                            required
                                        />
                                        <label
                                            class="custom-control-label"
                                            v-bind:for="
                                                `delivery-check-${deliveryType.id}`
                                            "
                                        >
                                            {{ deliveryType.name }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="delivery.need_address"
                                class="row my-2 justify-content-center"
                            >
                                <div class="col-md-10">
                                    <input
                                        v-model="clientAddress"
                                        type="text"
                                        v-bind:placeholder="'Adresa'"
                                        class="form-control"
                                        required
                                    />
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-md-10">
                                    <hr />
                                </div>
                            </div>

                            <div
                                v-for="(item, index) in items"
                                :key="index"
                                class="row mb-3 justify-content-center"
                            >
                                <div class="col-md-10">
                                    <div
                                        class="row mt-2 justify-content-center"
                                    >
                                        <div class="col-md-10">
                                            <select
                                                v-on:change="
                                                    getSizesList(
                                                        index,
                                                        item.wareId
                                                    )
                                                "
                                                v-model="item.wareId"
                                                class="form-control"
                                                required
                                            >
                                                <option :value="0">
                                                    Selecteaza articolul
                                                </option>
                                                <option
                                                    v-for="ware in item.wareList"
                                                    :key="ware.id"
                                                    :value="ware.id"
                                                >
                                                    {{ ware.name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div
                                        v-if="item.wareCheck"
                                        class="row mt-1 mb-2 justify-content-center"
                                    >
                                        <div class="col-md-10">
                                            <div
                                                class="alert alert-danger text-center"
                                                role="alert"
                                            >
                                                Adauga minim un item in comanda
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        v-if="item.sizesList"
                                        class="row mt-2 justify-content-center"
                                    >
                                        <div class="col-md-10">
                                            <select
                                                v-on:change="
                                                    getColorsList(
                                                        index,
                                                        item.wareId,
                                                        item.sizeId
                                                    )
                                                "
                                                v-model="item.sizeId"
                                                class="form-control"
                                                required
                                            >
                                                <option :value="0">
                                                    Selecteaza marimea
                                                </option>
                                                <option
                                                    v-for="size in item.sizesList"
                                                    :key="size.id"
                                                    :value="size.size.id"
                                                >
                                                    {{ size.size.name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div
                                        v-if="item.sizeCheck"
                                        class="row mt-1 mb-2 justify-content-center"
                                    >
                                        <div class="col-md-10">
                                            <div
                                                class="alert alert-danger text-center"
                                                role="alert"
                                            >
                                                Adauga minim un item in comanda
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        v-on:change="selectColor(index)"
                                        v-if="item.colorsList"
                                        class="row mt-2 justify-content-center"
                                    >
                                        <div class="col-md-10">
                                            <select
                                                v-model="item.colorId"
                                                class="form-control"
                                                required
                                            >
                                                <option :value="0">
                                                    Selecteaza culoarea
                                                </option>
                                                <option
                                                    v-for="color in item.colorsList"
                                                    :key="color.id"
                                                    :value="color.color.id"
                                                >
                                                    {{ color.color.name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div
                                        v-if="item.colorCheck"
                                        class="row mt-1 mb-2 justify-content-center"
                                    >
                                        <div class="col-md-10">
                                            <div
                                                class="alert alert-danger text-center"
                                                role="alert"
                                            >
                                                Adauga minim un item in comanda
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        v-if="item.quantitatyShow"
                                        class="row mt-2 justify-content-center"
                                    >
                                        <div class="col-md-10">
                                            <input
                                                v-on:change="positiveQ(index)"
                                                v-on:keyup="positiveQ(index)"
                                                type="number"
                                                v-model="item.quantitaty"
                                                v-bind:placeholder="
                                                    'Cantitatea'
                                                "
                                                class="form-control"
                                                required
                                            />
                                        </div>
                                    </div>

                                    <div
                                        v-if="item.inStockCheck"
                                        class="row mt-1 mb-2 justify-content-center"
                                    >
                                        <div class="col-md-10">
                                            <div
                                                class="alert alert-danger text-center"
                                                role="alert"
                                            >
                                                In stocuri nu este cantitatea de
                                                articole pe care ai introdus-o.
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        v-if="item.descriptionOrderShow"
                                        class="row mt-2 justify-content-center"
                                    >
                                        <div class="col-md-10">
                                            <textarea
                                                class="form-control"
                                                v-model="item.descriptionOrder"
                                            ></textarea>
                                        </div>
                                    </div>
                                    <div
                                        v-if="false"
                                        class="row mt-1 mb-2 justify-content-center"
                                    >
                                        <div class="col-md-10">
                                            <div
                                                class="alert alert-danger text-center"
                                                role="alert"
                                            >
                                                Adauga minim un item in comanda
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        v-if="true"
                                        class="row mt-2 justify-content-center"
                                    >
                                        <div class="col-md-10">
                                            <input
                                                type="file"
                                                name="img"
                                                @change="
                                                    uploadImage($event, index)
                                                "
                                                class="form-control"
                                            />
                                            <img
                                                :src="item.imgeBase"
                                                style="width: 100%;"
                                            />
                                        </div>
                                    </div>

                                    <div
                                        class="row mt-2 justify-content-center"
                                    >
                                        <div class="col-md-10">
                                            <button
                                                type="button"
                                                @click="removeItem(index)"
                                                class="btn btn-danger btn-block"
                                            >
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2 justify-content-center">
                                <div class="col-md-10">
                                    <button
                                        type="button"
                                        @click="newItem()"
                                        class="btn btn-primary btn-block"
                                    >
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>

                            <div
                                v-if="minItems"
                                class="row mt-1 mb-2 justify-content-center"
                            >
                                <div class="col-md-10">
                                    <div
                                        class="alert alert-danger text-center"
                                        role="alert"
                                    >
                                        Adauga minim un item in comanda
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2 justify-content-center">
                                <div class="col-md-10">
                                    <button
                                        type="submit"
                                        class="btn btn-success btn-block"
                                    >
                                        Adaugă
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import Datepicker from "vuejs-datepicker";
export default {
    name: "OrderCreate",
    components: {
        Datepicker
    },
    data: function() {
        return {
            orders: "",
            deliveryTypes: "",
            items: [],
            clientName: "",
            clientPhone: "",
            clientAddress: "",
            deliveryDate: "",
            previewImage: "",
            delivery: {
                need_address: 0
            },
            curent: false,
            minItems: false,
            disabledDates: {
                customPredictor: function(date) {
                    let todayDate = new Date();
                    todayDate.setDate(todayDate.getDate() - 1);

                    if (date.getTime() < todayDate.getTime()) {
                        return true;
                    }
                }
            }
        };
    },
    methods: {
        uploadImage: function(e, index) {
            console.log(e);
            const image = e.target.files[0];
            const reader = new FileReader();
            reader.readAsDataURL(image);
            reader.onload = e => {
                this.items[index].imgeBase = e.target.result;
                console.log(e.target.result);
            };
        },
        addDays: function(days) {
            var date = new Date();
            date.setDate(date.getDate() + days);

            return date;
        },
        sincOrders: async function() {
            const url = await fetch(route("admin-order-data.index"));
            const data = await url.json();
            this.orders = data.orders;
            this.deliveryTypes = data.deliveryTypes;
        },
        newItem: async function() {
            const url = await fetch(route("admin-stoc-wares.index"));
            const data = await url.json();
            this.items.push({
                wareList: data,
                sizesList: "",
                colorsList: "",
                wareId: 0,
                colorId: 0,
                sizeId: 0,
                quantitatyShow: false,
                quantitaty: "",
                itemsValidation: false,
                wareCheck: false,
                sizeCheck: false,
                colorCheck: false,
                imgeBase: "",
                descriptionOrderShow: false,
                descriptionOrder: "",
                inStockCheck: false
            });
            if (this.items.length == 0) {
                this.minItems = true;
            } else {
                this.minItems = false;
            }
        },
        removeItem: function(index) {
            this.items.splice(index, 1);
            if (this.items.length == 0) {
                this.minItems = true;
            } else {
                this.minItems = false;
            }
        },
        submitForm: function(e) {
            e.preventDefault();
            let checkCount = 0;
            if (this.items.length == 0) {
                this.minItems = true;
            } else {
                checkCount++;
                this.minItems = false;
            }
            this.items.forEach(element => {
                if (element.wareId == 0) {
                    this.items[this.items.indexOf(element)].wareCheck = true;
                } else {
                    if (checkCount < 2) {
                        checkCount++;
                    }
                    this.items[this.items.indexOf(element)].wareCheck = false;
                }
            });

            this.items.forEach(element => {
                if (element.sizeId == 0 && element.wareId != 0) {
                    this.items[this.items.indexOf(element)].sizeCheck = true;
                } else {
                    if (checkCount < 3) {
                        checkCount++;
                    }
                    this.items[this.items.indexOf(element)].sizeCheck = false;
                }
            });

            this.items.forEach(element => {
                if (
                    element.colorId == 0 &&
                    element.sizeId != 0 &&
                    element.wareId != 0
                ) {
                    this.items[this.items.indexOf(element)].colorCheck = true;
                } else {
                    if (checkCount < 4) {
                        checkCount++;
                    }
                    this.items[this.items.indexOf(element)].colorCheck = false;
                }
            });

            let json = {
                name: this.clientName,
                phone: this.clientPhone,
                address: this.clientAddress,
                deliveryId: this.delivery.id,
                deliveryDate: this.deliveryDate,
                items: this.items
            };

            if (checkCount == 4) {
                axios
                    .post(route("admin-orders.store"), json)
                    .then(function(response) {
                        window.location.href = response.data;
                    })
                    .catch(function(error) {});
            }
        },

        getSizesList: async function(index, wareId) {
            const url = await fetch(route("admin-stoc.getByWareId", wareId));
            const data = await url.json();
            this.items[index].sizesList = data;
            this.items.forEach(element => {
                if (element.wareId == 0) {
                    this.items[this.items.indexOf(element)].wareCheck = true;
                    this.items[index].sizesList = "";
                } else {
                    this.items[this.items.indexOf(element)].wareCheck = false;
                }
            });
        },

        getColorsList: async function(index, wareId, sizeId) {
            const url = await fetch(
                route("admin-stoc.getByWareAndSizeId", {
                    ware_id: wareId,
                    size_id: sizeId
                })
            );
            const data = await url.json();
            this.items[index].colorsList = data;

            this.items.forEach(element => {
                if (element.sizeId == 0 && element.wareId != 0) {
                    this.items[this.items.indexOf(element)].sizeCheck = true;
                    this.items[index].colorsList = "";
                } else {
                    this.items[this.items.indexOf(element)].sizeCheck = false;
                }
            });
        },
        selectColor: function(index) {
            this.items[index].quantitatyShow = true;
            this.items.forEach(element => {
                if (
                    element.colorId == 0 &&
                    element.sizeId != 0 &&
                    element.wareId != 0
                ) {
                    this.items[this.items.indexOf(element)].colorCheck = true;
                    this.items[index].quantitatyShow = false;
                } else {
                    this.items[this.items.indexOf(element)].colorCheck = false;
                }
            });
        },
        positiveQ: function(index) {
            this.items[index].descriptionOrderShow = true;
            let json = {
                wareId: this.items[index].wareId,
                colorId: this.items[index].colorId,
                sizeId: this.items[index].sizeId,
                quantitaty: this.items[index].quantitaty
            };
            const th = this;
            axios
                .post(route("getStock"), json)
                .then(function(response) {
                    if (!response.data) {
                      
                        th.items[index].inStockCheck = true;
                    } else {
                        th.items[index].inStockCheck = false;
                    }
                })
                .catch(function(err) {
                });
            if (this.items[index].quantitaty <= 0) {
                this.items[index].quantitaty = "";
            }
        }
    },
    mounted() {
        this.sincOrders();
        this.deliveryDate = this.addDays(2);
    }
};
</script>

<style>
.date-picker input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
</style>
