<template>
    <div>
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-0">
                    <i class="fas fa-shopping-cart mr-2"></i>Orders
                </h2>
            </div>
            <div class="col-md-2 ml-auto">
                <a
                    v-bind:href="ancorCreateOrder"
                    class="btn btn-primary btn-block"
                >
                    <i class="fas fa-plus mr-2"></i>Comandă nouă
                </a>
            </div>
        </div>
        <hr class="mt-1" />

        <div class="row mb-4 justify-content-center">
            <div class="col-md-12 px-0">
                <div class="row text-white mx-1 bg-dark">
                    <div class="pointer p-2 text-center border-bottom col-md-1">
                        Nr.
                    </div>
                    <div class="pointer p-2 text-center border-bottom col-md-1">
                        #id
                    </div>
                    <div class="pointer p-2 text-center border-bottom col-md-2">
                        Nume
                    </div>
                    <div class="pointer p-2 text-center border-bottom col-md">
                        Telefon
                    </div>
                    <div class="pointer p-2 text-center border-bottom col-md-1">
                        Tipul livrarii
                    </div>
                    <div class="pointer p-2 text-center border-bottom col-md">
                        Adresa
                    </div>
                    <div class="pointer p-2 text-center border-bottom col-md">
                        Data livrarii
                    </div>
                    <div class="pointer p-2 text-center border-bottom col-md-1">
                        Edit
                    </div>
                    <div class="pointer p-2 text-center border-bottom col-md-1">
                        Delete
                    </div>
                </div>

                <div
                    v-for="(order, index) in orders.data"
                    :key="index"
                    class="pointer row mx-1 bg-light bg-light-hover"
                >
                    <div
                        class="pointer p-2 text-center border-bottom col-md-1"
                        @click="redirect(index)"
                    >
                        {{ index + 1 }}
                    </div>
                    <div
                        class="pointer p-2 text-center border-bottom col-md-1"
                        @click="redirect(index)"
                    >
                        {{ order.id }}
                    </div>
                    <div
                        class="pointer p-2 text-center border-bottom col-md-2"
                        @click="redirect(index)"
                    >
                        {{ order.name }}
                    </div>
                    <div
                        class="pointer p-2 text-center border-bottom col-md"
                        @click="redirect(index)"
                    >
                        {{ order.phone }}
                    </div>
                    <div
                        class="pointer p-2 text-center border-bottom col-md-1"
                        @click="redirect(index)"
                    >
                        {{ order.delivery_type.name }}
                    </div>
                    <div
                        v-if="order.address"
                        class="pointer p-2 text-center border-bottom col-md"
                        @click="redirect(index)"
                    >
                        {{ order.address }}
                    </div>
                    <div
                        v-else
                        class="pointer p-2 text-center border-bottom col-md"
                        @click="redirect(index)"
                    >
                        Lipseste
                    </div>
                    <div
                        class="pointer p-2 text-center border-bottom col-md"
                        @click="redirect(index)"
                    >
                        {{ formatDate(order.delivery_date) }}
                    </div>
                    <div class="pointer p-2 text-center border-bottom col-md-1">
                        <i
                            class="fas fa-pencil-alt text-success pointer"
                            data-toggle="modal"
                            data-target="#edit-order-modal"
                            @click="
                                toDataOrderContent(
                                    order.id,
                                    order.name,
                                    order.phone,
                                    order.delivery_type.name,
                                    order.address,
                                    formatDate(order.delivery_date)
                                )
                            "
                        ></i>
                    </div>
                    <div class="pointer p-2 text-center border-bottom col-md-1">
                        <i
                            class="far fa-trash-alt text-danger"
                            data-toggle="modal"
                            @click="putCurrentIndexOrderInData(index, order.id)"
                            data-target="#delete-order-modal"
                        ></i>
                    </div>
                </div>
            </div>
        </div>

        <pagination
            v-if="ordersSet"
            :data="orders"
            @pagination-change-page="getResults"
        ></pagination>

        <div
            class="modal fade"
            id="edit-order-modal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="edit-order-modalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="edit-order-modalLabel">
                            Editeaza comanda
                        </h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row justify-content-center mb-2">
                            <div class="col-md-10">
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Nume"
                                    v-model="currentEditName"
                                />
                            </div>
                        </div>
                        <div class="row justify-content-center mb-2">
                            <div class="col-md-10">
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Telefon"
                                    v-model="currentEditPhone"
                                />
                            </div>
                        </div>
                        <div class="row justify-content-center mb-2">
                            <div class="col-md-10">
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Tipul livrarii"
                                    v-model="currentEditDeliveryTypeName"
                                />
                            </div>
                        </div>
                        <div class="row justify-content-center mb-2">
                            <div class="col-md-10">
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Adresa"
                                    v-model="currentEditAddress"
                                />
                            </div>
                        </div>
                        <div class="row justify-content-center mb-2">
                            <div class="col-md-10">
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Data livrarii"
                                    v-model="currentEditDeliveryDate"
                                />
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <button
                                    @click="
                                        saveEditOrder(
                                            currentEditId,
                                            currentEditName,
                                            currentEditPhone,
                                            currentEditDeliveryTypeName,
                                            currentEditAddress,
                                            currentEditDeliveryDate
                                        )
                                    "
                                    class="btn btn-block btn-success"
                                >
                                    Salveaza schimbarile
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="modal fade"
            id="delete-order-modal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="delete-order-modalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5
                            class="modal-title text-center w-100"
                            id="delete-order-modalLabel"
                        >
                            Esti sigur ca vrei sa stergi aceasta comanda?
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="row justify-content-center">
                            <div class="col-md-5">
                                <button
                                    @click="
                                        deleteOrderItem(currentIndex, currentId)
                                    "
                                    type="button"
                                    class="btn btn-danger btn-block"
                                    data-dismiss="modal"
                                >
                                    Sterge
                                </button>
                            </div>
                            <div class="col-md-5">
                                <button
                                    type="button"
                                    class="btn btn-primary btn-block"
                                    data-dismiss="modal"
                                >
                                    Anulare
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
export default {
    name: "OrderIndex",

    data: function() {
        return {
            orders: "",
            ordersSet: false,
            deliveryTypes: "",
            rowIndex: "",
            modifiedCol: "",
            curentPage: 1,
            ancorCreateOrder: route("admin-orders.create"),
            currentId: "",
            currentIndex: "",
            currentEditId: "",
            currentEditName: "",
            currentEditPhone: "",
            currentEditDeliveryTypeName: "",
            currentEditAddress: "",
            currentEditDeliveryDate: ""
        };
    },
    methods: {
        redirect: function(index) {
            window.location.href = route(
                "admin-orders.show",
                this.orders.data[index].id
            );
        },
        getResults: function(page = this.curentPage) {
            this.curentPage = page;
            let th = this;
            axios
                .get(route("admin-order-data.index").url() + "?page=" + page)
                .then(response => {
                    th.orders = response.data.orders;
                });

            setTimeout(function() {
                th.getResults(this.curentPage);
            }, 7500);
        },
        formatDate: function(date) {
            var d = new Date(date),
                month = "" + (d.getMonth() + 1),
                day = "" + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) month = "0" + month;
            if (day.length < 2) day = "0" + day;

            return [day, month, year].join(" / ");
        },
        sincOrders: async function() {
            const url = await fetch(route("admin-order-data.index"));
            const data = await url.json();
            this.orders = data.orders;
            this.deliveryTypes = data.deliveryTypes;

            console.log(this.deliveryTypes);
        },
        putCurrentIndexOrderInData: function(index, orderId) {
            (this.currentIndex = index), (this.currentId = orderId);
        },
        deleteOrderItem: function(index, orderId) {
            const json = {
                orderId
            };
            axios
                .post(route("deleteOrderItem"), json)
                .then(response => console.log("looooh", response));
        },
        toDataOrderContent: function(
            orderId,
            orderName,
            orderPhone,
            orderDeliveryTypeName,
            orderAddress,
            orderDeliveryDate
        ) {
            (this.currentEditId = orderId),
                (this.currentEditName = orderName),
                (this.currentEditPhone = orderPhone),
                (this.currentEditDeliveryTypeName = orderDeliveryTypeName),
                (this.currentEditAddress = orderAddress),
                (this.currentEditDeliveryDate = orderDeliveryDate);
            console.log(
                "currentEditDeliveryTypeName",
                this.currentEditDeliveryTypeName
            );
        },
        saveEditOrder: function(
            currentEditId,
            currentEditName,
            currentEditPhone,
            currentEditDeliveryTypeName,
            currentEditAddress,
            currentEditDeliveryDate
        ) {
            const json = {
                currentEditId,
                currentEditName,
                currentEditPhone,
                currentEditDeliveryTypeName,
                currentEditAddress,
                currentEditDeliveryDate
            };
            axios
                .post(route("editOrderItem"), json)
                .then(response => console.log(response));
        }
    },

    mounted() {
        let th = this;
        axios
            .get(route("admin-order-data.index"))
            .then(function(response) {
                th.orders = response.data.orders;
                th.ordersSet = true;
            })
            .catch(function() {});
        this.getResults(this.curentPage);
    }
};
</script>
<style scoped></style>
