<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="m-0">
                    <i class="far fa-id-card mr-2"></i> Client info
                </h1>
            </div>
        </div>
        <hr class="mt-1" />
        <div class="row">
            <div class="col-sm-2">
                <b>Name:</b>
            </div>
            <div class="col-sm-10">{{ order.name }}</div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Telefon:</b>
            </div>
            <div class="col-sm-10">{{ order.phone }}</div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Tipul livrarii:</b>
            </div>
            <div class="col-sm-10">{{ order.delivery_type.name }}</div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Adresa:</b>
            </div>
            <div v-if="order.address" class="col-sm-10">
                {{ order.address }}
            </div>
            <div v-else class="col-sm-10">
                Lipsește
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Data livrarii:</b>
            </div>
            <div class="col-sm-10">
                {{ formatDate(order.delivery_date) }}
            </div>
        </div>

        <hr />
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-12 px-0">
                        <div class="row text-white mx-1 bg-dark">
                            <div
                                class="pointer p-2 text-center border-bottom col-md"
                            >
                                Nr.
                            </div>
                            <div
                                class="pointer p-2 text-center border-bottom col-md"
                            >
                                Tip articol
                            </div>
                            <div
                                class="pointer p-2 text-center border-bottom col-md"
                            >
                                Marime
                            </div>
                            <div
                                class="pointer p-2 text-center border-bottom col-md"
                            >
                                Culoare
                            </div>
                            <div
                                class="pointer p-2 text-center border-bottom col-md"
                            >
                                Cantitate
                            </div>
                            <div
                                class="pointer p-2 text-center border-bottom col-md"
                            >
                                Descriere
                            </div>
                            <div
                                class="pointer p-2 text-center border-bottom col-md"
                            >
                                Imagine
                            </div>
                        </div>

                        <div
                            v-for="(item, index) in order.items"
                            :key="item.id"
                            class="row mx-1 bg-light bg-light-hover"
                        >
                            <div class="p-2 text-center border-bottom col-md">
                                {{ index + 1 }}
                            </div>
                            <div class="p-2 text-center border-bottom col-md">
                                {{ item.stock.ware.name }}
                            </div>
                            <div class="p-2 text-center border-bottom col-md">
                                {{ item.stock.size.name }}
                            </div>
                            <div class="p-2 text-center border-bottom col-md">
                                {{ item.stock.color.name }}
                            </div>
                            <div class="p-2 text-center border-bottom col-md">
                                {{ item.quantitaty }}
                            </div>
                            <div class="p-2 text-center border-bottom col-md">
                                {{ item.description }}
                            </div>
                            <div
                                class="pointer p-2 text-center border-bottom col-md"
                            >
                                <i
                                    class="far fa-image h3 mb-0 text-primary"
                                    @click="getImgBase(item.img_base, item.id)"
                                    data-toggle="modal"
                                    data-target="#item-image-modal"
                                ></i>
                            </div>
                        </div>

                        <div
                            class="modal fade"
                            id="item-image-modal"
                            tabindex="-1"
                            role="dialog"
                            aria-labelledby="item-image-modal-label"
                            aria-hidden="true"
                        >
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5
                                            class="modal-title"
                                            id="item-image-modal-label"
                                        >
                                            Imaginea articolului
                                        </h5>
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="modal"
                                            aria-label="Close"
                                        >
                                            <span aria-hidden="true"
                                                >&times;</span
                                            >
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div
                                            v-if="imgBase.img === null"
                                            class="row justify-content-center"
                                        >
                                            <div class="col-md-10">
                                                <div
                                                    class="alert alert-primary"
                                                    role="alert"
                                                >
                                                    Acest articol nu are o
                                                    imagine.
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            v-if="imgBase.img !== null"
                                            class="row justify-content-center"
                                        >
                                            <div class="col-md-10">
                                                <img
                                                    :src="imgBase.img"
                                                    style="width:100%;"
                                                    alt=""
                                                />
                                                <hr />
                                                <a
                                                    :href="imgBase.img"
                                                    class="btn btn-block"
                                                    :download="
                                                        'img-' + imgBase.id
                                                    "
                                                >
                                                    <i
                                                        class="fas fa-file-download text-success"
                                                        style="font-size:40px;"
                                                    ></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<!-- axios.get().then(function (response) {}).catch(function (error) {}); -->
<script>
import axios from "axios";
export default {
    name: "show-order",
    data: function() {
        return {
            imgBase: {
                id: null,
                img: null
            }
        };
    },
    props: ["order"],
    methods: {
        formatDate: function(date) {
            var d = new Date(date),
                month = "" + (d.getMonth() + 1),
                day = "" + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) month = "0" + month;
            if (day.length < 2) day = "0" + day;

            return [day, month, year].join(" / ");
        },
        getImgBase: function(imgBase, id) {
            this.imgBase = {
                id: id,
                img: imgBase
            };
        }
    },
    mounted() {}
};
</script>

<style scoped></style>
