<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="row pb-2 justify-content-center">
                    <div class="col-xl-7 mb-2">
                        <input type="text" placeholder="Adauga un articol" v-on:keyup.enter="addWare()"
                            v-model="wareName" class="form-control" />
                    </div>
                    <div class="col-xl-4">
                        <button class="btn btn-primary btn-block" @click="addWare()">
                            <i class="fas fa-plus"></i>Add
                        </button>
                    </div>
                </div>
                <div v-if="wareExist" class="row justify-content-center">
                    <div class="col-xl-11">
                        <div class="alert alert-danger text-center" role="alert">
                            Un articol cu asa nume deja este inregistrat
                        </div>
                    </div>
                </div>
                <div class="row mb-2 justify-content-center">
                    <div class="col-xl-11">
                        <div class="border stoc-list-scroll">
                            <ul class="list-group">
                                <li v-for="ware in wares" :key="ware.id" class="list-group-item list-group-item-action">
                                    <div class="row">
                                        <div class="col-10">
                                            {{ ware.name }}
                                        </div>
                                        <div class="col-2 text-center">
                                            <i class="far fa-times-circle pointer" data-toggle="modal"
                                                data-target="#delete-ware-modal" @click="
                                                    updateIdDeleteWare(ware.id)
                                                "></i>
                                        </div>
                                    </div>
                                </li>
                                <div class="modal fade" id="delete-ware-modal" tabindex="-1" role="dialog"
                                    aria-labelledby="delete-ware-modalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h5 class="modal-title w-100" id="delete-ware-modalLabel">
                                                    Esti sigur ca vrei sa stergi
                                                    aceast articol?
                                                </h5>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row justify-content-center">
                                                    <div class="col-xl-6">
                                                        <button class="btn btn-block btn-primary"
                                                            ref="btn_close_ware_delete_modal" type="button"
                                                            data-dismiss="modal" aria-label="Close">
                                                            Anulare
                                                        </button>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <button class="btn btn-block btn-danger" @click="
                                                                deleteWare()
                                                            ">
                                                            Sterge
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <div class="col-lg-4">
                <div class="row pb-2 justify-content-center">
                    <div class="col-xl-7 mb-2">
                        <input type="text" placeholder="Adauga o marime" v-on:keyup.enter="addSize()" v-model="sizeName"
                            class="form-control" />
                    </div>
                    <div class="col-xl-4">
                        <button class="btn btn-primary btn-block" @click="addSize()">
                            <i class="fas fa-plus"></i>Add
                        </button>
                    </div>
                </div>
                <div v-if="sizeExist" class="row justify-content-center">
                    <div class="col-xl-11">
                        <div class="alert alert-danger text-center" role="alert">
                            Aceasta marime este inregistratata deja.
                        </div>
                    </div>
                </div>
                <div class="row mb-2 justify-content-center">
                    <div class="col-xl-11">
                        <div class="border stoc-list-scroll">
                            <ul class="list-group">
                                <li v-for="size in sizes" :key="size.id" class="list-group-item list-group-item-action">
                                    <div class="row">
                                        <div class="col-10">
                                            {{ size.name }}
                                        </div>
                                        <div class="col-2 text-center">
                                            <i class="far fa-times-circle pointer" data-toggle="modal"
                                                data-target="#delete-size-modal" @click="
                                                    updateIdDeleteSize(size.id)
                                                "></i>
                                        </div>
                                    </div>
                                </li>

                                <div class="modal fade" id="delete-size-modal" tabindex="-1" role="dialog"
                                    aria-labelledby="delete-size-modalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h5 class="modal-title w-100" id="delete-size-modalLabel">
                                                    Esti sigur ca vrei sa stergi
                                                    aceasta marime?
                                                </h5>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row justify-content-center">
                                                    <div class="col-xl-6">
                                                        <button class="btn btn-block btn-primary"
                                                            ref="btn_close_size_delete_modal" type="button"
                                                            data-dismiss="modal" aria-label="Close">
                                                            Anulare
                                                        </button>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <button class="btn btn-block btn-danger" @click="
                                                                deleteSize()
                                                            ">
                                                            Sterge
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <div class="col-lg-4">
                <div class="row pb-2 justify-content-center">
                    <div class="col-xl-7 mb-2">
                        <input type="text" placeholder="Adauga o culoare" v-on:keyup.enter="addColor()"
                            v-model="colorName" class="form-control" />
                    </div>

                    <div class="col-xl-4">
                        <button class="btn btn-primary btn-block" @click="addColor()">
                            <i class="fas fa-plus"></i>Add
                        </button>
                    </div>
                </div>
                <div v-if="colorExist" class="row justify-content-center">
                    <div class="col-xl-11">
                        <div class="alert alert-danger text-center" role="alert">
                            Un articol cu asa nume deja este inregistrat
                        </div>
                    </div>
                </div>
                <div class="row mb-2 justify-content-center">
                    <div class="col-xl-11">
                        <div class="border stoc-list-scroll">
                            <ul class="list-group">
                                <li v-for="color in colors" :key="color.id"
                                    class="list-group-item list-group-item-action">
                                    <div class="row">
                                        <div class="col-10">
                                            {{ color.name }}
                                        </div>
                                        <div class="col-2 text-center">
                                            <i class="far fa-times-circle pointer" @click="
                                                    updateIdDeleteColor(
                                                        color.id
                                                    )
                                                " data-toggle="modal" data-target="#delete-color-modal"></i>
                                        </div>
                                    </div>
                                </li>

                                <div class="modal fade" id="delete-color-modal" tabindex="-1" role="dialog"
                                    aria-labelledby="delete-color-modalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h5 class="modal-title w-100" id="delete-color-modalLabel">
                                                    Esti sigur ca vrei sa stergi
                                                    aceasta culoare?
                                                </h5>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row justify-content-center">
                                                    <div class="col-xl-6">
                                                        <button class="btn btn-block btn-primary"
                                                            ref="btn_close_color_delete_modal" type="button"
                                                            data-dismiss="modal" aria-label="Close">
                                                            Anulare
                                                        </button>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <button class="btn btn-block btn-danger" @click="
                                                                deleteColor()
                                                            ">
                                                            Sterge
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-11 px-0">
                <div class="row text-white mx-1 bg-dark">
                    <div class="pointer p-2 text-center border-bottom col-md">
                        <select v-model="selectedWare" name="" id="" class="form-control">
                            <option value="" selected disabled>Selecteaza articolul</option>
                            <option v-bind:value="ware.id" v-for="ware in wares" :key="ware.id">{{ ware.name }}</option>
                        </select>
                    </div>
                    <div class="pointer p-2 text-center border-bottom col-md">
                        <select v-model="selectedSize" name="" id="" class="form-control">
                            <option value="">Selecteaza marimea</option>
                            <option v-bind:value="size.id" v-for="size in sizes" :key="size.id">{{ size.name }}</option>
                        </select>
                    </div>
                    <div class="pointer p-2 text-center border-bottom col-md">
                        <select v-model="selectedColor" name="" id="" class="form-control">
                            <option value="">Selecteaza culoarea</option>
                            <option v-bind:value="color.id" v-for="color in colors" :key="color.id">{{ color.name }}
                            </option>
                        </select>
                    </div>
                    <div class="pointer p-2 text-center border-bottom col-md">
                        <input v-model="quantitaty" type="text" placeholder="Cantitatea" class="form-control" />
                    </div>
                    <div class="pointer p-2 text-center border-bottom col-md">
                        <button class="btn btn-block btn-primary" @click="addStoc()">
                            Adauga
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-11 px-0">
                <div v-if="stockUnderZero" class="row text-white mx-1 bg-dark">
                    <div class="col-xl-12 my-2">
                        <div class="alert alert-danger text-center" role="alert">
                            Cantitatea stocului introdus trebuie sa fie mai mare
                            de 0.
                        </div>
                    </div>
                </div>
                <div class="row text-white mx-1 bg-dark">
                    <div class="pointer p-2 text-center border-bottom col-md">
                        Tip articol
                    </div>
                    <div class="pointer p-2 text-center border-bottom col-md">
                        Marime
                    </div>
                    <div class="pointer p-2 text-center border-bottom col-md">
                        Culoare
                    </div>
                    <div class="pointer p-2 text-center border-bottom col-md">
                        Cantitate
                    </div>
                </div>

                <div v-for="stoc in stocs" :key="stoc.id" class="row mx-1 bg-light bg-light-hover">
                    <div class="pointer p-2 text-center border-bottom col-md">
                        {{ stoc.ware.name }}
                    </div>
                    <div class="pointer p-2 text-center border-bottom col-md">
                        {{ stoc.size.name }}
                    </div>
                    <div class="pointer p-2 text-center border-bottom col-md">
                        {{ stoc.color.name }}
                    </div>
                    <div class="pointer p-2 text-center border-bottom col-md">
                        {{ stoc.quantitaty }}
                    </div>
                    <div class="d-md-none d-block pointer p-2 text-center border-bottom col-md">
                        <hr style="border: 2px solid black;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "stoc-config",
        data: function () {
            return {
                colorName: "",
                colorId: "",
                colors: 0,
                sizeName: "",
                sizeId: "",
                sizes: 0,
                wareName: "",
                wareId: "",
                wares: 0,
                selectedWare: "",
                selectedSize: "",
                selectedColor: "",
                quantitaty: "",
                stocs: 0,
                stockUnderZero: false,
                wareExist: false,
                sizeExist: false,
                colorExist: false
            };
        },
        methods: {
            sincColors: function () {
                let th = this;
                axios
                    .get(route("admin-stoc-colors.index"))
                    .then(function (response) {
                        th.colors = response.data.reverse();
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            addColor: function () {
                let th = this;
                axios
                    .post(route("admin-stoc-colors.store"), {
                        name: this.colorName
                    })
                    .then(function (response) {
                        th.colors = response.data;
                        if (response.data == 409) {
                            th.colorExist = true;
                            setTimeout(() => {
                                th.colorExist = false;
                            }, 3000);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                this.colorName = "";
                this.sincColors();
            },
            updateIdDeleteColor: function (id) {
                this.colorId = id;
            },
            deleteColor: function () {
                axios
                    .delete(route("admin-stoc-colors.destroy", this.colorId))
                    .then(function (response) {
                        // console.log(response.data);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                const elem = this.$refs.btn_close_color_delete_modal;
                elem.click();
                this.sincColors();
            },
            sincSizes: function () {
                let th = this;
                axios
                    .get(route("admin-stoc-sizes.index"))
                    .then(function (response) {
                        th.sizes = response.data.reverse();
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            addSize: function () {
                let th = this;
                axios
                    .post(route("admin-stoc-sizes.store"), {
                        name: this.sizeName
                    })
                    .then(function (response) {
                        if (response.data == 409) {
                            th.sizeExist = true;
                            setTimeout(() => {
                                th.sizeExist = false;
                            }, 3000);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                this.sizeName = "";
                this.sincSizes();
            },
            updateIdDeleteSize: function (id) {
                this.sizeId = id;
            },
            deleteSize: function () {
                axios
                    .delete(route("admin-stoc-sizes.destroy", this.sizeId))
                    .then(function (response) {
                        // console.log(response.data);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                const elem = this.$refs.btn_close_size_delete_modal;
                elem.click();
                this.sincSizes();
            },
            sincWare: function () {
                let th = this;
                axios
                    .get(route("admin-stoc-wares.index"))
                    .then(function (response) {
                        th.wares = response.data.reverse();
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            addWare: function () {
                let th = this;
                axios
                    .post(route("admin-stoc-wares.store"), {
                        name: this.wareName
                    })
                    .then(function (response) {
                        if (response.data == 409) {
                            th.wareExist = true;
                            setTimeout(() => {
                                th.wareExist = false;
                            }, 3000);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                this.wareName = "";
                this.sincWare();
            },
            updateIdDeleteWare: function (id) {
                this.wareId = id;
            },
            deleteWare: function () {
                axios
                    .delete(route("admin-stoc-wares.destroy", this.wareId))
                    .then(function (response) {
                        // console.log(response.data);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                this.sincWare();
                const elem = this.$refs.btn_close_ware_delete_modal;
                elem.click();
            },
            sincStocs: function () {
                let th = this;
                axios
                    .get(route("admin-stoc.index"))
                    .then(function (response) {
                        th.stocs = response.data.reverse();
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            addStoc: function () {
                let th = this;
                axios
                    .post(route("admin-stoc.store"), {
                        selectedWare: this.selectedWare,
                        selectedSize: this.selectedSize,
                        selectedColor: this.selectedColor,
                        quantitaty: this.quantitaty
                    })
                    .then(function (response) {
                        if (response.data == 400) {
                            th.stockUnderZero = true;
                            setTimeout(function () {
                                th.stockUnderZero = false;
                            }, 1200);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                this.sincStocs();
            }
        },
        props: [],
        mounted() {
            this.sincColors();
            this.sincSizes();
            this.sincWare();
            this.sincStocs();
            console.log(this.stocs);
        }
    };

</script>

<style scoped>
    .stoc-list-scroll {
        max-height: 13rem;
        overflow-y: auto;
    }

</style>
